@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');

html, body {
  font-family: Sintony, Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #0C1142;
  margin-bottom: 0;
  border: 0;
}

/* First Section */

#first-section {
  height: 100vh;
  background-color: #0C1142;
}

#presentation-content {
  color: white;
  padding-top: 80px;
  padding-left: 40px;
}

.main-image img {
  width: 80%;
  border-radius: 15px;
  padding-top: 80px;
}

/* Cenario Section */

#cenario {
  height: 100vh;
  background-color: #ffffff;
}

#cenario h4 {
  color: #0C1142;
  padding-top: 40px;  
}

.cenario-info {
  padding-top: 60px;
}

.box-cenario-info {
  border: 2px solid #589CFF;
  height: 60vh;
}

.title-box-cenario {
  height: 50%;
}

.text-box-cenario {
  height: 50%;
}

.title-box-cenario h2 {
  color: #0C1142;
  font-size: 45px;
  font-weight: bold;
}

.text-box-cenario p {
  color: #0C1142;
  font-size: 20px;
}

/* Why Easy Plan Section */

#why-easy-plan {
  height: 95vh;
  width: 95vw;
  margin: auto auto;
  background-color: #AAEEF1;
  color: #0C1142;
}

#why-easy-plan h4 {
  padding-top: 40px;  
}

#why-easy-plan-paragraph {
  width: 80%;
}

#why-easy-plan h3 {
  font-weight: bold;
}

#why-easy-plan ul {
  list-style-position: inside;
}

/* Carousel Section */

#carousels {
  height: 100vh;
}

#carousels .container {
  margin-top: 80px;
}

.carousel-title h3{
  color: #0C1142;
  font-weight: bold;
}
.carousel {
  margin-top: 80px;
}

#carousels .item img {
  height: 255px;
  margin: 0 auto;
}

/* Learn More Section */

#learn-more {
  height: 100vh;
  background-color: #0C1142;
  color: white;
}

#learn-more h4 {
  padding-top: 35px;  
}

#learn-more .main-content {
  padding-top: 30px;  
}

#learn-more h2 {
  font-size: 35px;
  font-weight: bold;
}

.cards {
  max-width: 980px;
  margin: 30px auto;
}

.card {
  box-shadow: 5px 5px 15px -4px #000000;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card .image img {
  width: 100%;
}

.card .content {
  height: 90px;
  padding: 20px;
  background-color: #FFFFC8;
}

.card a {
  color: #0C1142;
  font-weight: bold;
}

/* Footer */
footer {
  height: 150px;
  background-color: #589CFF;
  color: #0C1142;
}

footer p {
  margin-top: 30px;
}

footer .social-network img {
  height: 50px;
}