@media screen and (max-width: 767px) {
    
    /* First Section */
    #presentation-content h1 {
        font-size: 30px;
    }
    
    /* Cenario Section */
    .box-cenario-info {
        height: auto;
    }

    /* Why Easy Plan Section */
    #why-easy-plan {
        height: auto;
    }
    #why-easy-plan img,  #why-easy-plan figcaption {
        width:  70%;
    }
    #why-easy-plan figcaption {
        margin-bottom: 10px;
    }
    
    /* Carousels */
    #carousels {
        height: auto;
    }

    #carousels .container {
        margin: 20px auto 40px auto;
    }

    .carousel {
        margin-top: 20px;
    }

    #whos-for {
        margin-top: 40px;
    }

    #carousels .item img {
        height: 150px;
        margin: 0 auto;
      }

    /* Learn More Section */
    #learn-more {
        height: auto;
    }
}