/*BOOTSTRAP*/
/* LAYOUT */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #0C1142;
  color: #FFFFFF;
}

.row.content {height: 450px}

footer {
  background-color: #589CFF;
  color: #000000;
  padding: 15px;
  
}

/* CUSTOM (VANILLA)*/
*{
  box-sizing: border-box;
  text-decoration: none;
  font-size: 15px;
}

body{
  text-align: center;
  align-items: center;
}

button
{
  margin: 10px;
  padding: 10px;
  background-color: #FFFFC8;
  font-weight: bold;
  color: #000000;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  background-color: #FFFFD8;
}

#card-container{
  background: url(./trailHD.png) center center, linear-gradient(120deg, #485563 10%, #29323c 90%);;
  padding-bottom: 100px;
}

#bottom-nav{
  background-color: #0C1142;
}
.card{
  display: table;
  margin: 0 auto;
  margin-top: 5%;
  padding: 1% 2%;
  border: 2px solid rgb(22, 22, 22);
  width: 50%;
  box-shadow: 5px 5px 5px #000000;;
}

.pink{ background-color:#F5D4E9;}
.purple{ background-color:#D6D0F5;}
.orange{ background-color:#F8E3D4;}
.blue{ background-color:#BDD0EB;}
.yellow{ background-color:#F9F4CF;}
.green{ background-color:#B3DFB5;}


@media screen and (max-width: 767px) {
  .row.content {height:auto;} 
}